{% extends '::baseBack.html.twig' %}

{% block body -%}
    <!-- ==================== PAGE CONTENT ==================== -->
    <div class="content">


        <!-- ==================== WIDGETS CONTAINER ==================== -->
        <div class="container-fluid">
            <a href="{{ path('user_contract_add_manager', { 'user_id': user_id }) }}">
                <button class="btn btn-danger" type="button">Ajouter</button>
            </a>
            <!-- ==================== END OF ROW ==================== -->
            <div class="row-fluid">

                <div class="span12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-success">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                {{ flashMessage|trans }}
                            </div>

                        {% endfor %}
                    {% endfor %}
                    <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                    <div class="containerHeadline">

                        <i class="icon-table"></i>

                        <h2>Liste des contrats</h2>
                    </div>
                    <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->

                    <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Type de contrat</th>
                                    <th>Salaire 1</th>
                                    <th>Salaire 2</th>
                                    <th>Date de début de contrat</th>
                                    <th>Date de fin de contrat</th>
                                    <th>Activé?</th>

                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td>{% if entity.type ==0 %} CDD {% elseif entity.type==1 %} CDI {% elseif entity.type==2 %} Stage {% elseif entity.type==3 %}Freelance{% endif %}</td>
                                        <td>{{ entity.salaire1 }}</td>
                                        <td>{{ entity.salaire2 }}</td>
                                        <td>{% if entity.starDate %}{{ entity.starDate|date('d/m/Y') }}{% endif %}</td>
                                        <td>{% if entity.endDate %}{{ entity.endDate|date('d/m/Y') }}{% endif %}</td>
                                        <td>{% if entity.status==1 %}<span
                                                    class="label label-success ptip_ne">Activé</span>{% else %}<span
                                                    class="label label-danger red">Désactivé</span> {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-toolbar" style="margin: 0;">
                                                <div class="btn-group">
                                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                        Action <span
                                                                class="caret"></span></button>
                                                    <ul class="dropdown-menu pull-right">


                                                        <li>
                                                            <a href="{{ path('user_contract_show', {'user_id': user_id , 'id': entity.id }) }}">Afficher</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('user_contract_update_manager', {'user_id': user_id , 'id': entity.id }) }}">Modifier</a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {# display navigation #}
                            <div class="pagination pagination-large" style="text-align: center">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
    </div>

    <!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
  {% block javascripts %}

      <script>
          $(document).ready(function () {
              $('.alert-success').delay(2000).fadeOut();
          });

      </script>
  {% endblock %}