
{% block body -%}
                                    {% for entity in entities %}
<tr class="info">
    <td width="12"><div style="background-color: {{ entity.color }} ;  border-radius: 12px;
                        float: right;
                        height: 20px;
                        margin-bottom: 1px;
                        margin-left: 3px;
                        margin-top: 1px;
                        width: 20px;" class="roundsubscrib rounddisp"></div> </td>
    <td><span style="color: #d7d7d7;
              font-weight: bold;
              margin-right: 5px;">|—</span><a href="{{ path('show_category_manager', { 'id': entity.id }) }}">
                                       {{ entity.name }}</a>
    </td>
    <td class="actions">
        <a href="{{ path('back_requiredInfo', { 'category_id': entity.id }) }}">
            <span class="label turquoise" data-original-title="" title=" Gestions des Questions ">
                <i class="icon-group edit" style="opacity: 0.7;"></i>
            </span>
        </a>
        <a href="{{ path('update_category_manager', { 'id': entity.id }) }}" title=" Modifier la catégorie ">
            <span class="label green" data-original-title="" title="">
                <i class="icon-pencil edit" style="opacity: 1;"></i>
            </span>
        </a>
        <a href="javascript:confirmdeletbox('{{ path('delete_category_manager', {'id': entity.id}) }}')">

            <span class="label red" data-original-title="" title="">
                <i class="icon-trash delete" style="opacity: 0.7;"></i>
            </span>
        </a>

    </td>
</tr>

                                    {% endfor %}

{% endblock %}
