{% extends '::baseBack.html.twig' %}
{% block body -%}
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3>
                        <i class="icon-table"></i>
                        Catégories
                    </h3>
                </div>
                <div class="box-content nopadding">
                    <a href="{{ path('add_category_manager') }}" class="btn btn-primary pull-right">Ajouter</a>
                    <table class="table table-nomargin">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in pagination %}
                            <tr>
                                <td width="12">
                                    <div style="background-color: {{ entity.color }} ;  border-radius: 12px;height: 20px;margin-bottom: 1px;margin-left: 3px;margin-top: 1px;width: 20px;"
                                         class="roundsubscrib rounddisp"></div>
                                </td>
                                <td><a href="{{ path('show_category_manager', { 'id': entity.id }) }}">
                                        {{ entity.name }}</a>
                                </td>
                                <td>
                                    <div class="btn-toolbar" style="margin: 0;">
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                Action <span
                                                        class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">


                                                <li>
                                                    <a href="{{ path('update_category_manager', { 'id': entity.id }) }}">Modifier</a>
                                                </li>

                                                <li>
                                                    <a href="javascript:confirmdeletbox('{{ path('delete_category_manager', {'id': entity.id}) }}')">Supprimer</a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>


                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination pagination-large" style="text-align: center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}

    {% endblock %}