{% extends '::baseBack.html.twig' %}
{% block body -%}
<!-- ==================== PAGE CONTENT ==================== -->
<div class="content">
    <!-- ==================== WIDGETS CONTAINER ==================== -->
    <div class="container-fluid">

        <a href="{{ path('add_category_manager') }}"><button class="btn btn-danger" type="button"><i class="icon-plus"></i> Ajouter</button></a>
        <a href="{{ path('update_category_manager', { 'id': entity.id }) }}"><button class="btn btn-info" type="button"><i class="icon-pencil"></i> Modifier</button></a>
        <a class="btn btn-danger" href="javascript:confirmdeletbox('{{ path('delete_category_manager', {'id': entity.id}) }}')"><i class="icon-remove"> </i> Supprimer</a>
       {% if entity.parent!=null %} <a href="{{ path('back_requiredInfo', { 'category_id': entity.id }) }}"><button class="btn btn-info" type="button"><i class="icon-pencil"></i> Question</button></a>{% endif %}

        <a class ="btn btn-inverse pull-right" href="{{ path('back_category') }}"><i class="icon-list"></i> Liste</a>
        <br/>
        <!-- ==================== END OF ROW ==================== -->
        <div class="row-fluid">
            <div class="span12">
                <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                <div class="containerHeadline">
                    <i class="icon-table"></i><h2>Catégorie {{ entity.name }}</h2>
                </div>
                <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->
                <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                <div class="floatingBox table">
                    <div class="container-fluid">
                        <table class="table table-bordered">
                            <tbody>

                                <tr>
                                    <th>Nom</th>
                                    <td>{{ entity.name }}</td>
                                </tr>
                                <tr>
                                    <th>Couleur</th>
                                    <td>{{ entity.color }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
</div>
<!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
