<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% block title %}.: Yasmine Press Backoffice :.{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('RessourcesBack/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('RessourcesBack/css/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('RessourcesBack/css/jquery.fancybox.css') }}">
    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>


<body class="validationForm">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- ==================== TOP MENU ==================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('main_back_homepage') }}"><img class="img-responsive" src="{{ asset('public/images/logo.png--') }}"> </a>

            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<!-- ==================== SIDEBAR ==================== -->
<div class="hiddenContent">
    <!-- ==================== SIDEBAR COLLAPSED ==================== -->

    <!-- ==================== END OF SIDEBAR COLLAPSED ==================== -->
    <!-- ==================== SIDEBAR TASKS ==================== -->


    <!-- ==================== SIDEBAR NOTIFICATIONS ==================== -->

    <!-- ==================== SIDEBAR MESSAGES ==================== -->

    <!-- ==================== END OF SIDEBAR MESSAGES ==================== -->



    <!-- ==================== SIDEBAR PROFILE ==================== -->
    <div id="profileContent">
        <div class="sidebarDivider"></div>
        <div class="sidebarContent">
            <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i>

                <h1> Mon Compte</h1></a>

            <h1>Mon Compte</h1>

           <div class="profileBlock">
                <div class="profilePhoto"

                    <div class="usernameHolder">{{ app.user.name }}</div>

                </div>
                <div class="profileInfo">

                    <p><i class="icon-envelope-alt"></i> {{ app.user.email }}</p>

                    <p><i class="icon-globe"></i> Yasmine Press</p>

                </div>
                <footer>
                    <div class="profileSettingBlock editProfile"
                         onclick="$(location).attr('href','{{ path('update_profile_users') }}');"><i
                                class="icon-user"></i>Modifier le profil
                    </div>
                    <!--div class="profileSettingBlock changePassword"><i class="icon-lock"></i>change password</div-->
                    <div class="profileSettingBlock logout"
                         onclick="$(location).attr('href','{{ path('fos_user_security_logout') }}');"><i
                                class="icon-off"></i>Déconnexion
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- ==================== END OF SIDEBAR PROFILE ==================== -->

</div>
<!-- ==================== END OF SIDEBAR ==================== -->


    <div class="mainmenu">
        <div class="container-fluid">
            {{ knp_menu_render('MainBackBundle:Builder:createMainMenu', {'template': 'MainBackBundle:Menu:knp_menu.html.twig'}) }}
        </div>
    </div>

<div class="content1">
    <!-- ==================== TITLE LINE FOR HEADLINE ==================== -->
    <div class="titleLine">
        <!--div class="container-fluid">
            <div class="titleIcon"><i class="icon-dashboard"></i></div>
            <ul class="titleLineHeading">
                <li class="heading"><h1>Dashboard</h1></li>
                <li class="subheading">the place for everything</li>
            </ul>
            <ul class="titleLineCharts pull-right">
                <li>
                    <span class="usersBar">100,235,549,222,639,335,800</span>
                    <h2 class="cyanText">1254<span class="greyText">users</span></h2>
                </li>
                ...
            </ul>
        </div-->
    </div>
    <!-- ==================== END OF TITLE LINE ==================== -->
    <!-- ==================== BREADCRUMBS / DATETIME ==================== -->
    <ul class="breadcrumb">
        {{ wo_render_breadcrumbs({ viewTemplate: "::breadcrumbs.html.twig" })|raw }}

    </ul>
    {% block body %}
    
	
    {% endblock %}


    <!-- ==================== END OF BREADCRUMBS / DATETIME ==================== -->
    
</div>
<div class="col-md-12 text-center form-signin-footer">
	<strong>Yasmine Press © {{ 'now'|date('Y') }}</strong>
</div>

<script src="{{ asset('RessourcesBack/js/jquery-1.10.1.min.js') }}"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.10.1.min.js') }}"><\/script>')</script>
<script src="{{ asset('RessourcesBack/js/vendor/bootstrap-slider.js') }}"></script>
<!-- bootstrap slider plugin -->
<script src="{{ asset('RessourcesBack/js/vendor/jquery.sparkline.min.js') }}"></script>
<!-- small charts plugin -->
<script src="{{ asset('RessourcesBack/js/vendor/bootstrap-multiselect.js') }}"></script>
<!-- multiselect plugin -->
<script src="{{ asset('RessourcesBack/js/vendor/parsley.min.js') }}"></script>
<!-- parsley validator plugin -->

<script src="{{ asset('RessourcesBack/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('RessourcesBack/js/thekamarel.js') }}"></script>
<!-- main project js file -->
<script src="{{ asset('RessourcesBack/js/jquery.fancybox.js') }}"></script>
<!-- bootbox -->
<script src="{{ asset('RessourcesBack/js/lib/bootbox/bootbox.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/js/jquery.form-validator.js') }}"></script>
<script>

    $(function () {

        $('#multipleSelect').multiselect({
            buttonText: function (options, select) {
                if (options.length == 0) {
                    return 'None selected <b class="caret"></b>';
                }
                else if (options.length > 1) {
                    return options.length + ' selected <b class="caret"></b>';
                }
                else {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).text() + ', ';
                    });
                    return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                }
            }
        });

        $('#secondForm').parsley({
            excluded: 'ul.dropdown-menu li input[type=checkbox]'
        });
        $('.iframe-btnx').fancybox({
            'width': 880,
            'height': 570,
            'type': 'iframe',
            'autoScale': false
        });
    });

</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
