<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('back/css/bootstrap.min.css') }}">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="{{ asset('back/css/bootstrap-responsive.min.css') }}">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ asset('back/css/plugins/jquery-ui/smoothness/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css') }}">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('back/css/style.css') }}">



    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('back/img/favicon.ico') }}" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('back/img/apple-touch-icon-precomposed.png') }}" />

</head>

<body>
<div id="navigation">
    <div class="container-fluid">
        <a href="#" id="brand">FLAT</a>
        <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
        {{ knp_menu_render('MainBackBundle:Builder:createMainMenu') }}


        <div class="user">
            <ul class="icon-nav">
                <li class="dropdown sett">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu pull-right theme-settings">
                        <li>
                            <span>Layout-width</span>
                            <div class="version-toggle">
                                <a href="#" class='set-fixed'>Fixed</a>
                                <a href="#" class="active set-fluid">Fluid</a>
                            </div>
                        </li>
                        <li>
                            <span>Topbar</span>
                            <div class="topbar-toggle">
                                <a href="#" class='set-topbar-fixed'>Fixed</a>
                                <a href="#" class="active set-topbar-default">Default</a>
                            </div>
                        </li>
                        <li>
                            <span>Sidebar</span>
                            <div class="sidebar-toggle">
                                <a href="#" class='set-sidebar-fixed'>Fixed</a>
                                <a href="#" class="active set-sidebar-default">Default</a>
                            </div>
                        </li>
                    </ul>
                </li>
               <li>
                    <a href="more-locked.html" class='lock-screen' rel='tooltip' title="Lock screen" data-placement="bottom"><i class="icon-lock"></i></a>
                </li>
            </ul>
            <div class="dropdown">
                <a href="#" class='dropdown-toggle' data-toggle="dropdown">John Doe <img src="{{ asset('back/img/demo/user-avatar.jpg') }}" alt=""></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="more-userprofile.html">Edit profile</a>
                    </li>
                    <li>
                        <a href="#">Account settings</a>
                    </li>
                    <li>
                        <a href="more-login.html">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div id="left">

        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Content</span></a>
            </div>
            <ul class="subnav-menu">
                <li>
                    <a href="#">Articles</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    <a href="#">Comments</a>
                </li>
            </ul>
        </div>
        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Plugins</span></a>
            </div>
            <ul class="subnav-menu">
                <li>
                    <a href="#">Cache manager</a>
                </li>
                <li>
                    <a href="#">Import manager</a>
                </li>
                <li>
                    <a href="#">Contact form generator</a>
                </li>
                <li>
                    <a href="#">SEO optimization</a>
                </li>
            </ul>
        </div>
        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Settings</span></a>
            </div>
            <ul class="subnav-menu">
                <li>
                    <a href="#">Theme settings</a>
                </li>
                <li>
                    <a href="#">Page settings</a>
                </li>
                <li>
                    <a href="#">Security settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="container-fluid">
            <div class="page-header">
                <div class="pull-left">

                </div>
                <div class="pull-right">
                    <ul class="minitiles">
                        <li class='teal'>
                            <a href="#"><i class="icon-inbox"></i></a>
                        </li>
                        <li class='red'>
                            <a href="#"><i class="icon-cogs"></i></a>
                        </li>
                        <li class='lime'>
                            <a href="#"><i class="icon-globe"></i></a>
                        </li>
                    </ul>
                    <ul class="stats">
                        <li class='blue'>
                            <i class="icon-shopping-cart"></i>
                            <div class="details">
                                <span class="big">175</span>
                                <span>New orders</span>
                            </div>
                        </li>
                        <li class='green'>
                            <i class="icon-money"></i>
                            <div class="details">
                                <span class="big">$324,12</span>
                                <span>Balance</span>
                            </div>
                        </li>
                        <li class='orange'>
                            <i class="icon-calendar"></i>
                            <div class="details">
                                <span class="big">February 22, 2013</span>
                                <span>Wednesday, 13:56</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="breadcrumbs">
                {{ wo_render_breadcrumbs({ viewTemplate: "::breadcrumbs.html.twig" })|raw }}

            </div>
    {% block body %}
    
	
    {% endblock %}

        </div>
    </div></div>
<!-- jQuery -->
<script src="{{ asset('back/js/jquery.min.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ asset('back/js/plugins/jquery-ui/jquery.ui.core.min.js') }}"></script>
<script src="{{ asset('back/js/plugins/jquery-ui/jquery.ui.widget.min.js') }}"></script>
<script src="{{ asset('back/js/plugins/jquery-ui/jquery.ui.mouse.min.js') }}"></script>
<script src="{{ asset('back/js/plugins/jquery-ui/jquery.ui.resizable.min.js') }}"></script>
<!-- slimScroll -->
<script src="{{ asset('back/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
<!-- Bootbox -->
<script src="{{ asset('back/js/plugins/bootbox/jquery.bootbox.js') }}"></script>
<!-- Bootbox -->
<script src="{{ asset('back/js/plugins/form/jquery.form.min.js') }}"></script>
<!-- Validation -->
<script src="{{ asset('back/js/plugins/validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('back/js/plugins/validation/additional-methods.min.js') }}"></script>

<!-- Theme framework -->
<script src="{{ asset('back/js/eakroko.min.js') }}"></script>
<script src="{{ asset('back/js/plugins/bootbox/jquery.bootbox.js') }}"></script>
<!-- Theme scripts -->
<script src="{{ asset('back/js/application.min.js') }}"></script>
<!-- Just for demonstration -->
<script src="{{ asset('back/js/demonstration.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>

</html>


