<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Yasmine Press  {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css') }}" />
</head>
<body>
{{ render(controller('MainFrontBundle:Default:header')) }}
{% block body %}{% endblock %}
{{ render(controller('MainFrontBundle:Default:footer')) }}
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
