<header>
    <div class="top-header container">
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-6 col-md-6">
                <h1 class="text-muted logo"></h1>
            </div>
            <div class="col-lg-offset-2 col-sm-4 col-md-4 top-link">
                <div class="phone-number">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    <span>00 216 71 000 000</span>
                </div>
                <button class="btn pull-right btn-default btn-grey" type="button">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Mon panier
                </button>
                <button class="btn pull-right btn-default btn-green" type="button">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Mon compte
                </button>
            </div>
        </div>
    </div>
</header>
<div class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav menu col-md-9">
                <li class="home-menu"><a href="{{ path('main_front_homepage') }}"></a></li>
                <li><a href="{{ path('pages_contenue',{slug:'qui-sommes-nous'}) }}">Qui sommes-nous</a></li>
                <li><a href="{{ path('boutique') }}">Nos produits</a></li>
                <li><a href="{{ path('demande_devis') }}">demande de devis</a></li>
                <li><a href="{{ path('form_contact') }}">contact</a></li>
            </ul>
            <div class="col-md-3">
                <form class="searsh-form menu-form">
                    <input type="text" name="search">
                    <button type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>
