
<table width="70%" border="1" align="center">
    <tr>
        <th width="40%">Civilité</th>
        <td>{{ form.civ }}</td>
    </tr>
    <tr>
        <th>Nom </th>
        <td>{{ form.name }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ form.pname }}</td>
    </tr>
    <tr>
        <th>Date de naissance</th>
        <td> {{ (form.datenaisse | date("m/d/Y")) }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ (form.adress) }}</td>
    </tr>
    <tr>
        <th>CP</th>
        <td>{{ (form.cp) }}</td>
    </tr>
    <tr>
        <th>Ville</th>
        <td>{{ (form.ville) }}</td>
    </tr>
    <tr>
        <th>Pays</th>
        <td> {{ (form.pays) }}</td>
    </tr>
    <tr>
        <th>Profession</th>
        <td> {{ (form.profession) }}</td>
    </tr>
    <tr>
        <th></th>
        <td>{{ (form.tel) }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td> {{ (form.email) }}</td>
    </tr>
    <tr>
        <th>Site web</th>
        <td>{{ (form.sweb) }}</td>
    </tr>
    <tr>
        <th>Besoin</th>
        <td>{{ (form.besoin) }}</td>
    </tr>
    <tr>
        <th>Message</th>
        <td> {{ (form.msg) }}</td>
    </tr>
</table> 