<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for item in template.parameters %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne{{ item.id }}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ item.id }}"
                       aria-expanded="true" aria-controls="collapseOne">
                        {{ item.name }}
                    </a>
                </h4>
            </div>
            <div id="collapseOne{{ item.id }}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne{{ item.id }}">
                <div class="panel-body">
                    <div class="form-group col-md-12">
{% if item.type ==0 %}
                        <label class="col-md-6" for="main_frontbundle_contact_name">Texte</label>
                        <input data-value="{{ item.id }}" class="formtosave form-control" type="text"
                               id="input-{{ item.id }}"/>
                        {% else %}
                            <label class="col-md-6" for="main_frontbundle_contact_name">Texte</label>
                            <input data-value="{{ item.id }}" class="formtosave form-control" type="file"
                                   id="input-{{ item.id }}"/>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-12">

                        <label class="col-md-6" for="main_frontbundle_contact_name">Couleur</label>
                        <input data-value="{{ item.id }}" value="{{ item.color }}" class="formtosave form-control"
                               placeholder="Coleur" type="text" id="input-color-{{ item.id }}"/>
                    </div>
                    <div class="form-group col-md-12">

                        <label class="col-md-6" for="main_frontbundle_contact_name">Alignement</label>

                        <select placeholder="selectionnez" data-value="{{ item.id }}" class="formalign form-control"
                                type="text" id="input-align-{{ item.id }}">
                            <option value="left">Gauche</option>
                            <option value="right">Droite</option>
                            <option value="center">Centre</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">

                        <label class="col-md-6" for="main_frontbundle_contact_name">Police</label>

                        <select placeholder="selectionnez" data-value="{{ item.id }}" class="formpolice form-control"
                                type="text" id="input-police-{{ item.id }}">
                            <option value="Arial">Arial</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Verdana">Verdana</option>
                        </select>
                    </div>


                </div>
            </div>
        </div>
    {% endfor %}
</div>