{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body %}
    <div class="page-title">
        <div class="container">
            <h2 class="text-right text-uppercase">Demande de devis</h2>
        </div>
    </div>

    <div class="container nos-produits">
        <div class="row">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="mdi-alert-warning">{{ flashMessage|trans }}</div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form, {'method': 'POST','attr': {'class': 'col-md-12'}}) }}

            {{ form_row(form.civ) }}
            {{ form_row(form.name) }}
            {{ form_row(form.pname) }}
            {{ form_row(form.datenaisse) }}
            {{ form_row(form.adress) }}
            {{ form_row(form.cp) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.pays) }}
            {{ form_row(form.profession) }}
            {{ form_row(form.tel) }}
            {{ form_row(form.email) }}
            {{ form_row(form.sweb) }}
            {{ form_row(form.besoin) }}
            {{ form_row(form.msg) }}
            {{ form_row(form.newsletter) }}
            <div class="form-actions">
                <button class="btn btn-inverse" type="submit">Valider</button>
                <button class="btn">Cancel</button>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form) }}
        </div>

        </div>

    </div>

{% endblock %}