{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/details.js') }}"></script>
<script>
    var idprod = {{ product.id }};
</script>

    <script src="{{ asset('papier/define.js') }}"></script>
    <script src="{{ asset('papier/vendor/underscore.js') }}"></script>
    <script src="{{ asset('papier/vendor/backbone.js') }}"></script>
    <script src="{{ asset('papier/app.js') }}"></script>
    <script src="{{ asset('papier/vendor/backform.js') }}"></script>
    <script src="{{ asset('papier/routers/rooter.js') }}"></script>
    <script src="{{ asset('papier/models/templateModel.js') }}"></script>
    <script src="{{ asset('papier/collections/TemplateCollection.js') }}"></script>
    <script src="{{ asset('papier/views/TemplateCrud.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('main_front_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('boutique') }}">Nos Produits</a></li>
            <li class="active">{{ product.name }}</li>
        </ol>
    </div>

    <div class="page-title">
        <div class="container">
            <h2 class="text-right text-uppercase"><b style="color:{{ product.color }}">{{ product.name }}</b></h2>
        </div>
    </div>

    <div class="container produit-page">
        <form action="{{ path('submit_details') }}" method="gett">
            <input name="prodid" type="hidden" value="{{ product.id }}">
            {% if product.plis|length>0 %}
                <input name="plisid" type="hidden" id="optionid" value="">
            {% endif %}
            <div class="row">
                <div class="col-md-3">
                    <ul class="products-menu">
                        {% for item in products %}
                            {% set slug = item.name|slugifier %}
                            <li><a href="{{ path('boutique_detail',{id:item.id,slug:slug}) }}"
                                   style="background: {{ item.color }};">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9 produit-content">
                    {% if product.prodimg|length>0 %}
                    <div id="carousel-product-page" class="owl-carousel owl-theme">
                        {% for item in product.prodimg %}
                        <div class="item">
                            <img src="{{ asset(item.img) }}" alt="Images">
                        </div>
                            {% endfor %}

                    </div>

                    <div class="row">
                        <div class="owl-carousel-control">
                            <a class="btn prev glyphicon glyphicon-chevron-left btn-green"></a>
                            <a class="btn next glyphicon glyphicon-chevron-right btn-green"></a>
                        </div>
                    </div>
                    {% endif %}
                    <p class="description">
                        {{ product.descript|raw }}
                    </p>
                    {% if product.plis|length>0 %}
                        <div class="wall">
                            <div class="wall-title">
                                Type des plis
                            </div>
                            <div class="row">
                                {% for item in product.plis %}
                                    <div class="col-md-2">
                                        <div class="wall-item" data-value="{{ item.id }}">
                                            <img src="{{ asset('uploads/plis/'~item.image) }}">
                                            <div>{{ item.name }}</div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}
                    <div class="wall">
                        <div class="wall-title" data-toggle="collapse" data-target="#zonetemplate">
                            Personnalisé
                        </div>
                        <div class="row" id="zonetemplate" class="collapse">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="wall">
                                <div class="wall-title">
                                    Options
                                </div>
                                <div class="row">
                                    {% for item in product.options %}
                                        <div class="col-md-12">
                                            <div class="checkbox"><label><input name="opt" value="{{ item.price }}"
                                                                                type="radio"{% if item.active %} checked="checked"{% endif %} />&nbsp;&nbsp;&nbsp;{{ item.name }}
                                                    ({{ item.price }} TND)</label></div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success"> Ajouter au panier</button>
                            {% if product.costumise==1 %}
                                <a href="#" class="btn btn-danger">Personnailsé</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}